{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["lib.es5.d.ts"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "operator-linebreak": ["off"],
    "dot-notation": ["off"],
    "multiline-ternary": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": ["error", 4, {
      "SwitchCase": 1,
      "ignoredNodes": ["TemplateLiteral *"]
    }],
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
